@mixin button {
  box-sizing: border-box;
  line-height: 2rem;
  min-width: 80px;
  padding: 0.5rem;
  border: 1px solid darken($off-white, 50%);
  border-radius: 8px;
  outline: none;
  text-align: center;

  color: black;
  font-family: $sans-serif;
  font-size: 1rem;
  font-weight: normal;

  cursor: pointer;

  background-color: $off-white;

  &:hover,
  &:focus,
  &:active {
    background-color: darken($off-white, 5%);
  }
}

a.button-link {
  @include button();
  display: inline-block;
  text-decoration: none;
}
