@import "./colors";
@import "./fonts";

.validation-message {
  color: red;
  font-family: $sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  ~ .meal-option {
    border-left: 2px solid red;
  }
}

.veg-option {
  color: $green;
  font-family: $cursive;
  font-weight: bold;
}
