$vertical-stroke-width: 4rem;
$vertical-stroke-margin-right: 1rem;
$text-margin-right: $vertical-stroke-width + $vertical-stroke-margin-right;

.container {
  position: relative;

  max-width: 960px;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;

  overflow: hidden;
}

nav {
  display: flex;
  align-items: center;
  padding: 1rem;
  a {
    color: black;
    padding: 0 12px;
    text-decoration: none;
    img {
      height: 32px;
      width: 32px;
      vertical-align: middle;
      border-bottom: 1px solid transparent;
    }
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
      img {
        border-bottom-color: black;
      }
    }
    + a {
      border-left: 1px solid black;
    }
  }
}

h1 {
  font-size: 3rem;
  @media only screen and (max-width: 640px) {
    font-size: 2rem;
  }
  margin: 0 $text-margin-right 0 0;
}

.content {
  padding: 1rem;
  margin-right: $text-margin-right;
}

#header-stroke {
  .static & {
    margin-top: 4rem;
  }

  width: 100%;
  padding: 1rem;
  box-sizing: border-box;

  background-color: rgba($red, 0.5);
}

#vertical-stroke {
  position: absolute;
  top: 0;
  bottom: 0;
  right: $vertical-stroke-margin-right;
  width: $vertical-stroke-width;
  box-sizing: border-box;

  pointer-events: none;
  background-color: rgba($green, 0.5);
}

#footer-stroke {
  height: 5rem;
  width: 110%;
  margin: 2rem 0 5rem -5%;
  box-sizing: border-box;
  transform: rotate(-8deg);

  pointer-events: none;
  background-color: rgba($blue, 0.5);
}
