@import "./colors";
@import "./error";
@import "./fonts";
@import "./form";
@import "./layout";

body {
  margin: 0;
  background-color: $off-white;
  font-family: $sans-serif;

  h1,
  h2,
  h3 {
    font-family: $cursive;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.4rem;
  }
}
