@import "./colors";
@import "./error";
@import "./fonts";
@import "./form";
@import "./layout";

body {
  margin: 0;
  background-color: $off-white;
  font-family: $sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $cursive;
  }
}
