{% extends "layout.njk" %}

{% set title = "Admin" %}

{% block content %}
  {% for user in users %}
    <h2>{{ user.names }}</h2>
    <ul>
      {% for guest in user.guests %}
        <li>{{ guest | rsvpName(user.guests) }}</li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}
