{% extends "layout.njk" %}

{% set isHome = true %}
{% set title = "Jamie and Jenny’s Wedding" %}

{% block content %}
  <p>
    Hello {{ user.names }}!
  </p>
  <p>
    Not long to go until the big day!
  </p>
  <a href="/information" class="button-link">
    Information
  </a>
  <a href="/rsvp" class="button-link">
    R.S.V.P.
  </a>
{% endblock %}
