{% extends "layout.njk" %}

{% set title = "Information" %}

{% block content %}
<p>Hi {{ user | capitalize }}!

<h2>R.S.V.P.</h2>

<p>Please RSVP by 3rd July here (link to RSVP page)</p>

<h2>Order of Events</h2>

<h3>Saturday 1st October</h3>

<p>Please arrive at St Fagan’s Castle (in St Fagans museum) by 2:45pm to be seated for the ceremony at 3:00pm.</p>

<p>The ceremony will be followed by a drinks and canpopes reception whilst photos are taken.</p>

<p>Dinner will be served at 18:00</p>

<p>Following that there will be a disco and bar until carriages at midnight.</p>


<h3>Sunday 2nd October</h3>
<p>You’re very welcome to pop over to Jenny’s parent’s house for a cup of tea and or breakfast food before you head home. We’ll be there between x:00 and y:00, at 32 Fairwater Grove West, Llandaff Cardiff CF5 2JQ.</p>


<h2>Where to find the ceremony</h2>
<p>The ceremony will be in St Fagans Castle. It’s number 59 on this map here. https://museum.wales/media/51628/St-fagans-map-2021-English.pdf. It’s about 10 minutes walk through the museum from the main entrance to St Fagans Castle.</p>
<p>[Check with venue first] Alternatively you can get straight in the back entrance opposite St Mary’s Church in St Fagans.</p>


<h2>Parking</h2>
<p>The main carpark of the museum is available, and you’re welcome to leave your car there overnight. It’s about 10 minutes walk through the museum from the car park to St Fagans Castle.</p>


<h2>Taxis</h2>
<p>We’ve used Dragon Taxis (link) in Cardiff before. It’s about 15 minutes drive from Llandaff village to St Fagans, or 25 minutes from the train station in town.</p>


<h2>Accomodation</h2>
<p>You’ve booked to stay at the Malster’s Arms (link) in Llandaff village.</p>
<p>[Omit section for locals, for Emily maybe put Alyson’s house]</p>


<h2>Gifts</h2>
<p>Something about not having a gift list, the main gift is having everyone here for the wedding.</p>
<p>But we know some people will be very keen to get a gift for us. So if you want any ideas we enjoy eating and drinking, suggest some vouchers.</p>


<h2>Any other questions?</h2>
<p>Please don’t hesitate to contact us with any other questions.</p>
<p>We’ll keep adding more details to this website as we get nearer the big day!</p>

{% endblock %}
