<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title + " | " if not isHome }}Jamie and Jenny’s wedding</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" crossorigin="use-credentials" href="/site.webmanifest">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container{% if isStatic %} static{% endif %}">
      {% if not isStatic %}
        <nav>
          <a href="/"><img src="/favicon-32x32.png" alt="Home"></a>
          <a href="/information">Information</a>
          <a href="/rsvp">R.S.V.P.</a>
          {% if user.isAdmin %}
            <a href="/admin">Admin</a>
          {% endif %}
        </nav>
      {% endif %}
      <div id="header-stroke">
        <h1>{{ title }}</h1>
      </div>
      <div class="content">
        {% block content %}{% endblock %}
      </div>
      <div id="vertical-stroke"></div>
      <div id="footer-stroke"></div>
    </div>
    {% block scripts %}{% endblock %}
  </body>
</html>
