{% extends "layout.njk" %}

{% set title = "R.S.V.P." %}

{% macro option(guest, fieldName, value, label) %}
  {% set id = guest.id + "-" + fieldName + "-" + value %}
  {% set checked = guest[fieldName] == value %}
  <div class="option">
    <input type="radio" name="{{ guest.id }}[{{ fieldName }}]" id="{{ id }}" value="{{ value }}"
      data-guest="{{ guest.id }}" data-field="{{ fieldName }}"{%- if checked  %} checked{% endif %}>
    <label for="{{ id }}">{{ label }}
    {% if value === "veg" %}
      <span class="veg">V</span>
    {% endif %}
    </label>
  </div>
{% endmacro %}

{% macro options(data) %}
  <fieldset data-field="{{ data.fieldName }}">
    <legend>
      <h3>{{ data.title }}</h3>
    </legend>
    {% set validationMessage = validationMessages[data.guest | validationKey(data.fieldName)] %}
    {% if validationMessage %}
      <p class="validation-message">{{ validationMessage }}</p>
    {% endif %}
    <div class="options">
      {% for optionData in data.options %}
        {{ option(data.guest, data.fieldName, optionData.value, optionData.label) }}
      {% endfor %}
    </div>
  </fieldset>
{% endmacro %}

{% macro courseOptions(data) %}
  {{ options({
    guest: data.guest,
    title: "Choice of " + data.course.name + "?",
    fieldName: data.course.id,
    options: [
      { value: "kids", label: "Children’s menu" } if data.guest.isChild,
      { value: "meat", label: data.meatOption },
      { value: "veg", label: data.vegOption }
    ] | select
  }) }}
{% endmacro %}

{% block content %}
  <form method="POST">
    {% if validationMessages | length > 0 %}
      <div class="validation-summary">
        <p class="validation-message">
          Please correct this missing information:
        </p>
        <ul>
          {% for key, value in validationMessages %}
            <li class="validation-message">{{ value }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% for guest in guests %}
      <fieldset class="guest" data-guest="{{ guest.id }}">
        <legend>
          <h2>{{ guest.name or ((guests | selectattr("isSingle") | first).name + " +1") }}</h2>
        </legend>
        {{ options({
          guest: guest,
          title: "Attending?" if not isPlusOne else "Bringing a guest?",
          fieldName: "attending",
          options: [
            { value: "yes", label: "Yes, I am attending" if guest.isSingle else ("Yes, I am bringing a guest" if guest.isPlusOne else "Yes, " + guest | firstName + " is attending") },
            { value: "no", label: "No, I am not attending" if guest.isSingle else ("No, I am not be bringing a guest" if guest.isPlusOne else "No, " + guest | firstName + " is not attending") }
          ]
        })}}
        {% if guest.isBaby %}
          <p><em>Please let us know if there is anything that we can provide for the baby!</em></p>
          <input type="hidden" name="baby[starter]" value="milk">
          <input type="hidden" name="baby[main]" value="milk">
        {% else %}
          {{ courseOptions({
            guest: guest,
            course: {
              id: "starter",
              name: "starter"
            },
            meatOption: "Chicken and leek terrine on baked olive bread with balsamic oil",
            vegOption: "Welsh cheese risotto cakes with spicy dressed leaves, herb salsa and plum chutney"
          }) }}
          {{ courseOptions({
            guest: guest,
            course: {
              id: "main",
              name: "main course"
            },
            meatOption: "Lamb 2 ways – rosemary and garlic infused pink cutlet, and lamb shoulder confit encased in shortcrust pastry, with minted potato tower, roasted heritage carrots and leek spoon, finished with a red wine jus",
            vegOption: "Strudel of wild mushroom, leeks, cream cheese, roasted root vegetables and potato cake "
          }) }}
          <fieldset data-field="{{ data.fieldName }}">
            <legend>
              <h3>Allergies or dietary requirements?</h3>
            </legend>
            <p class="hint">Please let us know of any allergies or other dietary requirements:</p>
            <textarea name="{{ guest.id }}[dietary]" rows="6">{{ guest.dietary }}</textarea>
          </fieldset>
        {% endif %}
      </fieldset>
    {% endfor %}
    <input type="submit" value="Send">
  </form>
{% endblock %}

{% block scripts %}
  <script src="/js/rsvp.js"></script>
{% endblock %}
