{% extends "layout.njk" %}

{% set title = "R.S.V.P." %}

{% macro option(guest, course, value, label) %}
  {% set id = guest.id + "-" + course + "-" + value %}
  {% set checked = guest[course] == value %}
  <div class="meal-option">
    <input type="radio" name="{{ guest.id }}[{{ course }}]" id="{{ id }}" value="{{ value }}"
      {%- if checked  %} checked{% endif %}>
    <label for="{{ id }}">{{ label }}
    {% if value === "veg" %}
      <span class="veg-option">V</span>
    {% endif %}
    </label>
  </div>
{% endmacro %}

{% macro courseOptions(data) %}
  <fieldset>
    <legend>
      <h3>{{ data.course.name | capitalize }}</h3>
    </legend>
    {% set validationMessage = validationMessages[data.guest.id + "-" + data.course.id] %}
    {% if validationMessage %}
      <p class="validation-message">{{ validationMessage }}</p>
    {% endif %}
    <div>
      {{ option(data.guest, data.course.id, "meat", data.meatOption) }}
      {{ option(data.guest, data.course.id, "veg", data.vegOption) }}
    </div>
  </fieldset>
{% endmacro %}

{% block content %}
  <form method="POST">
    {% for guest in guests %}
      <fieldset>
        <legend>
          <h2>{{ guest.name }}</h2>
        </legend>
        {{ courseOptions({
          guest: guest,
          course: {
            id: "starter",
            name: "starter"
          },
          meatOption: "Chicken & Leek Terrine",
          vegOption: "Welsh Cheese Risotto Cakes"
        }) }}
        {{ courseOptions({
          guest: guest,
          course: {
            id: "main",
            name: "main course"
          },
          meatOption: "Lamb 2 Ways",
          vegOption: "Strudel of Wild Mushroom"
        }) }}
    </fieldset>
    {% endfor %}
    <input type="submit" value="Send">
  </form>
{% endblock %}
